# localisation du fichier : backend/api/.htaccess

RewriteEngine On

# Passe l'en-tête Authorization à PHP

RewriteCond %{HTTP:Authorization} .
RewriteRule .\* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteBase /backend/api/  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php?path=$1 [QSA,L]
