# localisation du fichier : backend/api/.htaccess
RewriteEngine On
RewriteBase /backend/api/  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]