# Dépendances
# Ne jamais versionner le dossier node_modules
/node_modules
/.pnp
.pnp.js

# Dossiers de build et de production
# Ces fichiers sont générés lors du processus de build
/build
/coverage

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'environnement
# Ne jamais versionner les secrets. Utiliser un .env.example pour les variables requises.
.env
.env.*
!.env.example

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db
